/*
Main SCSS File
==================================================
Contains the imports to all basic styles.

The file organization follows the 7-1 pattern architecture
https://sass-guidelin.es/#the-7-1-pattern
*/
/*
 * Mixins and Variables
 * ---------------------------- */
/*
  * Base stuff
  * ---------- */
body {
  margin: 0;
}

@font-face {
  font-family: "Basier Circle";
  src: url("../assets/fonts/basiercircle-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basier Circle";
  src: url("../assets/fonts/basiercircle-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basier Circle";
  src: url("../assets/fonts/basiercircle-semibold-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basier Circle";
  src: url("../assets/fonts/basiercircle-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 18px;
  font-family: "Basier Circle", system-ui, -apple-system, BlinkMacSystemFont, Arial;
  font-weight: 400;
  letter-spacing: 1.8px;
}

input,
button {
  font-family: "Basier Circle", system-ui, -apple-system, BlinkMacSystemFont, Arial;
}

h1 {
  font-size: 64px;
  letter-spacing: -2.5px;
  line-height: 62px;
  font-weight: 600;
}

h2 {
  font-size: 58px;
  letter-spacing: -0.55px;
  line-height: 62px;
  font-weight: 600;
}

h3 {
  font-size: 42px;
  letter-spacing: -0.81px;
  line-height: 57px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  letter-spacing: -0.234px;
  line-height: 35px;
  font-weight: 600;
}

.text-base {
  font-size: 16px;
  letter-spacing: -0.14px;
  line-height: 22.6px;
}

.text-md {
  font-size: 18px;
  letter-spacing: -0.16px;
  line-height: 30px;
}

.text-lg {
  font-size: 22px;
  letter-spacing: -0.77px;
  line-height: 35px;
}

/*
  * Components
  * ---------- */
.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1024x) {
  .input-container {
    margin-bottom: 30px;
  }
}

.form-label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}

.form-input-field {
  border-radius: 8px;
  border: 1px solid #dedddf;
  padding: 10px 15px;
  font-size: 18px;
  letter-spacing: 0.5px;
  /* WebKit, Blink, Edge */
  /* Mozilla Firefox 4 to 18 */
  /* Mozilla Firefox 19+ */
  /* Microsoft Edge */
  /* Most modern browsers */
}

@media only screen and (min-width: 1024x) {
  .form-input-field {
    padding: 15px;
  }
}

.form-input-field::-webkit-input-placeholder {
  color: #c4c3c6;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.form-input-field::-ms-input-placeholder {
  color: #c4c3c6;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.form-input-field:-ms-input-placeholder {
  color: #c4c3c6;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.form-input-field::placeholder {
  color: #c4c3c6;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.form-input-field:focus {
  outline: none;
  border-color: #0048ff;
}

.form-input-field.has-error {
  border-color: #ff5252;
}

.error-message {
  color: #ff5252;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-top: 10px;
}

.base-button {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 13px 6px;
  border-radius: 8px;
  width: 100%;
  font-size: 18px;
}

.button-dark {
  color: white;
  background-color: #21092f;
  border-color: #21092f;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.button-dark:hover {
  background-color: #edeff2;
  border-color: #edeff2;
}

/*************************
    CARD CONTAINER
*************************/
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

@media only screen and (min-width: 1024x) {
  .cards {
    width: 52%;
    margin-bottom: unset;
  }
}

/*************************
    SHARED CARD STYLES
*************************/
.card {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 285px;
  height: 155px;
}

@media only screen and (min-width: 1024x) {
  .card {
    width: 447px;
    height: 245px;
  }
}

.card .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.card .card-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 11px;
}

/*************************
    FRONT SIDE
*************************/
.card-front {
  padding: 20px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: -68px;
}

.card-front::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-box-shadow: rgba(193, 192, 196, 0.4) 0px 40px 40px;
          box-shadow: rgba(193, 192, 196, 0.4) 0px 40px 40px;
  border-radius: 11px;
}

@media only screen and (min-width: 1024x) {
  .card-front::before {
    -webkit-box-shadow: rgba(193, 192, 196, 0.4) 0px 40px 40px;
            box-shadow: rgba(193, 192, 196, 0.4) 0px 40px 40px;
  }
}

@media only screen and (min-width: 1024x) {
  .card-front {
    padding: 30px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-top: unset;
    margin-bottom: 37px;
  }
}

.card-front .card-img {
  z-index: 15;
}

.card-front-content {
  position: relative;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: white;
}

.card-front-circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: auto;
}

.card-front-circles .large-circle {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
}

@media only screen and (min-width: 1024x) {
  .card-front-circles .large-circle {
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }
}

.card-front-circles .small-circle {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 1px solid white;
}

@media only screen and (min-width: 1024x) {
  .card-front-circles .small-circle {
    height: 20px;
    width: 20px;
  }
}

.card-front-number {
  margin-bottom: 15px;
}

@media only screen and (min-width: 1024x) {
  .card-front-number {
    margin-bottom: 23px;
    font-size: 28px;
    letter-spacing: 3.8px;
  }
}

.card-front-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-front-name {
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
}

@media only screen and (min-width: 1024x) {
  .card-front-name {
    font-size: 14px;
    letter-spacing: 1.8px;
  }
}

.card-front-expiry {
  font-size: 9px;
  letter-spacing: 1px;
}

@media only screen and (min-width: 1024x) {
  .card-front-expiry {
    font-size: 14px;
    letter-spacing: 1.8px;
  }
}

/*************************
    BACK SIDE
*************************/
.card-back {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 11px;
}

@media only screen and (min-width: 1024x) {
  .card-back {
    -webkit-box-shadow: rgba(193, 192, 196, 0.4) 0px 40px 40px;
            box-shadow: rgba(193, 192, 196, 0.4) 0px 40px 40px;
  }
}

.card-back-cvc {
  position: absolute;
  right: 38px;
  top: 70px;
  z-index: 10;
  color: white;
  font-size: 9px;
  letter-spacing: 1px;
}

@media only screen and (min-width: 1024x) {
  .card-back-cvc {
    right: 57px;
    top: 111px;
    font-size: 14px;
    letter-spacing: 1.8px;
  }
}

.success-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.success-section:not(.hidden) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.success-icon {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 40px;
}

.success-large-text {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 4px;
  font-weight: 600;
  margin-bottom: 17px;
}

.success-small-text {
  color: #959499;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-bottom: 50px;
}

/*
  * Layout-related sections
  * ----------------------- */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 43px;
    padding-left: 43px;
  }
}

@media only screen and (min-width: 1024x) {
  .container {
    max-width: 1024px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.header {
  padding: 45px 0;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hidden {
  display: none;
}

/*
  * Pages
  * ----------------------- */
/*************************
    PARENT CONTAINERS
*************************/
.hero {
  padding: 90px;
}

.hero-left {
  grid-area: 'left';
}

.hero-middle {
  grid-area: 'middle';
}

.hero-right {
  grid-area: 'right';
}

.hero-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'middle middle' 'left right';
}

@media only screen and (min-width: 768px) {
  .hero-content {
        grid-template-areas: 'left middle right';
  }
}

.colored-heading {
  color: #0048ff;
}

.fundamentals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.language-logo {
  width: 70px;
  height: 70px;
}

/*************************
    BACKGROUNDS
*************************/
/*************************
    FORM LAYOUT
*************************/
/*# sourceMappingURL=main.css.map */