/*
Main SCSS File
==================================================
Contains the imports to all basic styles.

The file organization follows the 7-1 pattern architecture
https://sass-guidelin.es/#the-7-1-pattern
*/
/*
 * Mixins and Variables
 * ---------------------------- */
@media (prefers-reduced-motion: no-preference) {
  .hidden-element {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(0);
    transition: all 0.5s;
    transition-delay: calc(100ms * var(--order));
  }
}
.visibile-element {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.logo:nth-child(2) {
  transition-delay: 200ms;
}

.logo:nth-child(3) {
  transition-delay: 400ms;
}

.logo:nth-child(4) {
  transition-delay: 600ms;
}

/**

The staggering part gets really bloated if you use :nth-child() and have many elements.

You could also define an inline CSS variable in the html like style="--order: 1;" (2, 3,4 and so on for every html element).
Then use a transition-delay of for example 'calc(100ms * var(--order))'
This works because the inline variable will be cascaded into the .logo class.

This simplifies staggering things so much.




----------




Two things:

You can add the following one-liner to toggle a class when the entry is intersecting.
entry.target.classList.toggle('show', entry.isIntersecting);

Instead of turning off the animation with prefers-reduced-motion, turn it on.
@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 1s;
  }
}

*/
/*
  * Base stuff
  * ---------- */
body {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Basier Circle";
  src: url("../assets/fonts/basiercircle-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle";
  src: url("../assets/fonts/basiercircle-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle";
  src: url("../assets/fonts/basiercircle-semibold-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle";
  src: url("../assets/fonts/basiercircle-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: 18px;
  font-family: "Basier Circle", system-ui, -apple-system, BlinkMacSystemFont, Arial;
  font-weight: 400;
  letter-spacing: 1.8px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  font-family: "Basier Circle", system-ui, -apple-system, BlinkMacSystemFont, Arial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 41px;
  letter-spacing: -2.6px;
  line-height: 40px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
    letter-spacing: -2.5px;
    line-height: 62px;
  }
}

h2 {
  font-size: 41px;
  letter-spacing: -0.5px;
  line-height: 50px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 58px;
    letter-spacing: -0.55px;
    line-height: 62px;
  }
}

h3 {
  font-size: 42px;
  letter-spacing: -0.81px;
  line-height: 57px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  letter-spacing: -0.234px;
  line-height: 35px;
  font-weight: 600;
}

.text-base {
  font-size: 14px;
  letter-spacing: -0.12px;
  line-height: 20px;
}
@media only screen and (min-width: 768px) {
  .text-base {
    font-size: 16px;
    letter-spacing: -0.14px;
    line-height: 22.6px;
  }
}

.text-md {
  font-size: 16px;
  letter-spacing: -0.44px;
  line-height: 26px;
}
@media only screen and (min-width: 768px) {
  .text-md {
    font-size: 18px;
    letter-spacing: -0.16px;
    line-height: 30px;
  }
}

.text-lg {
  font-size: 20px;
  letter-spacing: -0.68px;
  line-height: 31px;
}
@media only screen and (min-width: 768px) {
  .text-lg {
    font-size: 22px;
    letter-spacing: -0.77px;
    line-height: 35px;
  }
}

p {
  margin: 0;
}

/*
  * Components
  * ---------- */
.base-button {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 13px 6px;
  border-radius: 8px;
  width: 100%;
  font-size: 18px;
}

.button-dark {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(278deg, 68%, 11%);
  border-color: hsl(278deg, 68%, 11%);
  transition: all 0.3s ease-out;
}
.button-dark:hover {
  background-color: #edeff2;
  border-color: #edeff2;
}

.circled-icon {
  display: block;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.circled-icon img {
  filter: invert(1);
  width: 32px;
  height: 32px;
}

.circled-icon-dark {
  background-color: #0a0a0a;
}

.circled-icon-color {
  background-color: #336aec;
}

/*
  * Layout-related sections
  * ----------------------- */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
@media only screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 43px;
    padding-left: 43px;
  }
}
@media only screen and (min-width: 1024x) {
  .container {
    max-width: 1024px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.header {
  padding: 45px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}
.header-nav:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background-color: #0d0d0d;
  padding-top: 30px;
}

.footer-bar {
  height: 1px;
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
}

.footer-text {
  padding: 35px 0;
  color: hsl(0deg, 0%, 100%);
}

.hidden {
  display: none;
}

/*
  * Pages
  * ----------------------- */
/*************************
    PARENT CONTAINERS
*************************/
.hero {
  padding: 90px 0 170px;
}

.hero-left,
.hero-right {
  display: flex;
  align-items: center;
}

.hero-left {
  grid-area: left;
}
.hero-left .circled-icon:nth-child(even) {
  width: 100px;
  height: 100px;
}

.hero-middle {
  grid-area: middle;
  text-align: center;
}

.hero-right {
  grid-area: right;
}
.hero-right .circled-icon:nth-child(odd) {
  width: 100px;
  height: 100px;
}

.hero-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.hero-content {
  display: grid;
  grid-template-areas: "middle middle" "left right";
}
@media only screen and (min-width: 768px) {
  .hero-content {
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "left middle right";
  }
}

.colored-heading {
  display: block;
  color: #336aec;
  margin-top: 18px;
}

.hero-middle-parahraph {
  margin: 45px 0 35px;
  padding: 0 20px;
  font-weight: 400;
}

.black-bar {
  background-color: #0d0d0d;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.black-bar-testimonials {
  color: hsl(0deg, 0%, 100%);
}
@media only screen and (min-width: 768px) {
  .black-bar-testimonials {
    display: flex;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
.black-bar-testimonials .testimonials-text-wrapper {
  max-width: 450px;
}
.black-bar-testimonials .testimonials-text-wrapper:first-child {
  margin-bottom: 70px;
}
@media only screen and (min-width: 768px) {
  .black-bar-testimonials .testimonials-text-wrapper:first-child {
    margin-bottom: unset;
  }
}
.black-bar-testimonials .testimonials-quotation-mark {
  filter: invert(1);
}

.technical-skills-section {
  padding: 150px 0;
}

.technical-skills-heading {
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .technical-skills-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.fundamentals {
  display: flex;
  overflow: hidden;
}

.fundamentals-lottie-container {
  height: 300px;
}

@media only screen and (min-width: 640px) {
  .fundamentals-lottie {
    transform: scale(1.2);
  }
}
@media only screen and (min-width: 768px) {
  .fundamentals-lottie {
    transform: scale(1.6) translateY(50px);
  }
}

.fundamentals-paragraph:last-child {
  margin-top: 25px;
}

.frameworks {
  background-color: #f3f3f3;
}
@media only screen and (min-width: 1280px) {
  .frameworks .technical-skills-heading {
    white-space: nowrap;
  }
}

.frameworks-list {
  list-style: none;
  -webkit-padding-start: unset;
          padding-inline-start: unset;
}
.frameworks-list li:not(:last-child) {
  margin-bottom: 7px;
}
.frameworks-list .check-icon {
  transform: translateY(5px);
  margin-right: 10px;
}

.framework-logo {
  filter: grayscale(1);
}
@media only screen and (min-width: 768px) {
  .framework-logo {
    position: absolute;
  }
}

.frameworks-logos {
  position: relative;
}
.frameworks-logos .vue {
  width: 200px;
  height: 200px;
  top: 2px;
  left: 135px;
}
.frameworks-logos .react {
  width: 145px;
  height: 145px;
  top: 118px;
  left: 284px;
}
.frameworks-logos .redux {
  width: 90px;
  height: 90px;
  top: 212px;
  left: 120px;
}
.frameworks-logos .ts {
  width: 60px;
  height: 60px;
  top: 288px;
  left: 267px;
}
.frameworks-logos .angular {
  width: 55px;
  height: 55px;
  top: 369px;
  left: 202px;
}

.ecommerce-experience {
  overflow: hidden;
}

.ecommerce-lottie-container {
  height: 370px;
}

@media only screen and (min-width: 640px) {
  .ecommerce-lottie {
    transform: scale(1.3);
  }
}

.beyond-technical-skills {
  background-color: #0d0d0d;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(0deg, 0%, 100%);
}

.beyond-technical-skills-heading {
  text-align: center;
  margin-bottom: 90px;
}

@media only screen and (min-width: 768px) {
  .dark-boxes-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
}

.beyond-box {
  background-color: #242424;
  padding: 15px;
  border-radius: 4.5px;
  display: flex;
  flex-direction: column;
  color: hsl(0deg, 0%, 100%);
}

.beyond-box-line {
  height: 8px;
  width: 100%;
  border-radius: 4px;
  background-color: #336aec;
}

.beyond-box-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 47px 15px 36px;
}
.beyond-box-content img {
  filter: invert(1);
  height: 250px;
}

.beyond-box-heading {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
}
.beyond-box-heading img {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.beyond-box-paragraph {
  margin-bottom: 20px;
}

.testimonials {
  background-color: #336aec;
  padding: 120px 0;
  color: hsl(0deg, 0%, 100%);
}

.testimonials-text-wrapper {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.testimonials-quotation-mark {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .testimonials-quotation-mark {
    position: absolute;
    left: -75px;
    top: 10px;
    margin-bottom: unset;
  }
}

.testimonials-paragraph:not(:last-child) {
  margin-bottom: 14px;
}

.testimonials-author {
  margin-top: 20px;
  font-size: 24px;
  letter-spacing: -0.162px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .testimonials-author {
    margin-top: 45px;
  }
}

.testimonnials-position {
  font-weight: 600;
}

.contact-info {
  background-color: #0d0d0d;
  padding: 60px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  position: relative;
}
@media only screen and (min-width: 768px) {
  .contact-info {
    padding: 120px 0 400px;
  }
}

.contact-info-heading {
  margin-bottom: 40px;
}

.contact-info-content {
  position: relative;
  z-index: 10;
}

.contact-info-email-and-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-info-email-and-phone a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .contact-info-email-and-phone a {
    font-size: 28px;
  }
}
.contact-info-email-and-phone a:first-child {
  margin-bottom: 25px;
}

.contact-info-icon {
  filter: invert(1);
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
@media only screen and (min-width: 768px) {
  .contact-info-icon {
    width: 36px;
    height: 36px;
  }
}

.contact-info-illustration {
  filter: invert(1);
  transform: translateY(40px);
}
@media only screen and (min-width: 768px) {
  .contact-info-illustration {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    height: 650px;
  }
}

/*************************
    BACKGROUNDS
*************************/
/*************************
    FORM LAYOUT
*************************//*# sourceMappingURL=main.css.map */