/*************************
    PARENT CONTAINERS
*************************/

.hero {
  padding: 90px 0 170px;
}

.hero-left,
.hero-right {
  display: flex;
  align-items: center;
}

.hero-left {
  grid-area: left;




  .circled-icon:nth-child(even) {
    width: 100px;
    height: 100px;
}


}

.hero-middle {
  grid-area: middle;
  text-align: center;
}

.hero-right {
  grid-area: right;

  .circled-icon:nth-child(odd) {
      width: 100px;
      height: 100px;
  }
}

.hero-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;



}


.hero-content {
  display: grid;
  //grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'middle middle'
    'left right';

  @include breakpoint-up(md) {
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: 'left middle right';
  }
}

.colored-heading {
  display: block;
  color: $primary;
  margin-top: 18px;
}

.hero-middle-parahraph {
  margin: 45px 0 35px;
  padding: 0 20px;
  font-weight: $font-weight-base;
}

.black-bar {
  background-color: #0d0d0d;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.black-bar-heading {
  color: $white;
  margin-bottom: 45px;
}

.black-bar-images {
  display: flex;
  justify-content: space-between;
}

.technical-skills-section {
  padding: 150px 0;
}

.technical-skills-heading {
  margin-bottom: 25px;
}

.technical-skills-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fundamentals {
  display: flex;
}

.language-logo {
  width: 150px;
  height: 150px;
}

.frameworks {
  background-color: #f3f3f3;
}

/*************************
    BACKGROUNDS
*************************/

/*************************
    FORM LAYOUT
*************************/
