/*************************
    PARENT CONTAINERS
*************************/

.hero {
    padding: 90px;
}

.hero-content {
    display: flex;

    .colored-heading {
        color: $primary;
    }

    p {
        font-size: 22px;
        letter-spacing: -0.7px;
        font-weight: 400;
        line-height: 35px;
    }
}

.fundamentals {
    display: flex;
}

.language-logo {
    width: 70px;
    height: 70px;
}

/*************************
    BACKGROUNDS
*************************/

/*************************
    FORM LAYOUT
*************************/
