/*************************
    PARENT CONTAINERS
*************************/

.fundamentals {
    display: flex;
}

.language-logo {
    width: 70px;
    height: 70px;
}

/*************************
    BACKGROUNDS
*************************/

/*************************
    FORM LAYOUT
*************************/
