.container {
    max-width: 510px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include breakpoint-up(lg) { 
        max-width: 1050px;
    }
}