.footer {
    background-color: #0d0d0d;
    padding-top: 30px;
}

.footer-bar {
    height: 1px;
    width: 100%;
    background-color: $white;
}

.footer-text {
    padding: 35px 0;
    color: $white;
}