.header {
    padding: 45px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    font-weight: $font-weight-medium;
    text-decoration: none;
    color: $text-color;
    
    &:not(:last-child) {
        margin-right: 30px;
    }
}