/*************************
    CARD CONTAINER
*************************/

.cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @include breakpoint-up(lg) { 
        width: 52%;
        margin-bottom: unset;
    }
}

/*************************
    SHARED CARD STYLES
*************************/

.card {
    position: relative;
    box-sizing: border-box;
    user-select: none;
    width: 285px;
    height: 155px;

    @include breakpoint-up(lg) { 
        width: 447px;
        height: 245px;
    }

    .card-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $z-index-front;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 11px;
        }
    }
}

/*************************
    FRONT SIDE
*************************/

.card-front {
    padding: 20px;
    order: 1;
    margin-top: -68px;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $z-index-back; // Purpose is to have the box shadow hidden behind the main background image
        box-shadow: $card-box-shadow;
        border-radius: 11px;

        @include breakpoint-up(lg) {
            box-shadow: $card-box-shadow;
        }
    }

    @include breakpoint-up(lg) { 
        padding: 30px;
        order: 0;
        margin-top: unset;
        margin-bottom: 37px;
    }

    .card-img {
        z-index: $z-index-absolute-front;
    }
}

.card-front-content {
    position: relative;
    z-index: $z-index-absolute-front;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: $white;
}

.card-front-circles {
    display: flex;
    align-items: center;
    margin-bottom: auto;

    .large-circle {
        height: 33px;
        width: 33px;
        border-radius: 50%;
        background-color: $white;
        margin-right: 10px;

        @include breakpoint-up(lg) { 
            height: 50px;
            width: 50px;
            margin-right: 15px;
        }
    }

    .small-circle {
        height: 13px;
        width: 13px;
        border-radius: 50%;
        border: 1px solid $white;

        @include breakpoint-up(lg) { 
            height: 20px;
            width: 20px;
        }
    }
}

.card-front-number {
    margin-bottom: 15px;

    @include breakpoint-up(lg) { 
        margin-bottom: 23px;
        font-size: $font-size-lg;
        letter-spacing: $letter-spacing-lg;
    }
}

.card-front-footer {
    display: flex;
    justify-content: space-between;
}

.card-front-name {
    text-transform: uppercase;
    font-size: $font-size-xxs;
    letter-spacing: $letter-spacing-md;

    @include breakpoint-up(lg) { 
        font-size: $font-size-sm;
        letter-spacing: $letter-spacing-base;
    }
}

.card-front-expiry {
    font-size: $font-size-xxs;
    letter-spacing: $letter-spacing-md;

    @include breakpoint-up(lg) { 
        font-size: $font-size-sm;
        letter-spacing: $letter-spacing-base;
    }
}

/*************************
    BACK SIDE
*************************/

.card-back {
    align-self: flex-end;
    border-radius: 11px;

    @include breakpoint-up(lg) { 
        box-shadow: $card-box-shadow;
    }
}

.card-back-cvc {
    position: absolute;
    right: 38px;
    top: 70px;
    z-index: $z-index-front;
    color: $white;
    font-size: $font-size-xxs;
    letter-spacing: $letter-spacing-md;

    @include breakpoint-up(lg) { 
        right: 57px;
        top: 111px;
        font-size: $font-size-sm;
        letter-spacing: $letter-spacing-base;
    }
}