.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @include breakpoint-up(lg) { 
        margin-bottom: 30px;
    }
}

.form-label {
    text-transform: uppercase;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    margin-bottom: 8px;
}

.form-input-field {
    border-radius: $radius-base;
    border: 1px solid $light-grayish-violet;
    padding: 10px 15px;
    font-size: $font-size-base;
    letter-spacing: $letter-spacing-sm;

    @include breakpoint-up(lg) { 
        padding: 15px;
    }

    @include placeholder {
        color: $medium-grayish-violet;
        font-size: $font-size-base;
        font-weight: $font-weight-base;
        letter-spacing: $letter-spacing-sm;
    }

    &:focus {
        outline: none;
        border-color: $primary;
    }

    &.has-error {
        border-color: $danger;
    }
}

.error-message {
    color: $danger;
    font-size: $font-size-xs;
    letter-spacing: $letter-spacing-sm;
    margin-top: 10px;
}