.success-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    &:not(.hidden) {
        display: flex;
    }
}

.success-icon {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 40px;
}

.success-large-text {
    text-transform: uppercase;
    font-size: $font-size-lg;
    letter-spacing: $letter-spacing-xl;
    font-weight: $font-weight-medium;
    margin-bottom: 17px;
}

.success-small-text {
    color: $darker-grayish-violet;
    letter-spacing: $letter-spacing-sm;
    font-weight: $font-weight-medium;
    margin-bottom: 50px;
}