body {
    font-size: $font-size-base;
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    letter-spacing: $letter-spacing-base;
}


input, button {
    font-family: $font-family-base;
}