// Typography
$font-size-base: 18px;
$font-size-xxs: 9px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 21px;
$font-size-lg: 28px;

$font-family-base: 'EB Garamond', Georgia, serif;
$font-weight-base: 500;
$font-weight-medium: 600;

$letter-spacing-base: 1.8px;
$letter-spacing-sm: .5px;
$letter-spacing-md: 1px;
$letter-spacing-lg: 3.8px;
$letter-spacing-xl: 4px;

// Colors
$primary: hsl(249, 99%, 64%) ;
$secondary: hsl(278, 94%, 30%);
$danger: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$medium-grayish-violet: hsl(260, 3%, 77%);
$dark-grayish-violet: hsl(255, 3%, 76%);
$darker-grayish-violet: hsl(255, 2%, 59%);
$ultra-dark-violet: hsl(278, 68%, 11%);

// Border radius
$radius-base: 8px;

// Box shadow
$card-box-shadow: rgba($dark-grayish-violet, 0.40) 0px 40px 40px;

// Z-index
$z-index-back: 3;
$z-index-middle: 5;
$z-index-front: 10;
$z-index-absolute-front: 15;
